@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

.btn_blue {
  @apply bg-gradient-to-r from-indigo-500 to-sky-500 text-white rounded-xl py-2.5 px-10
}

.btn_transparent {
  @apply bg-transparent ring-2 rounded-xl py-2.5 px-10
}

.section_name {
  @apply text-solid-blue leading-3
}

.section_heading {
  @apply text-black text-3xl font-semibold
}


body {
  margin: 0;
  font-family: 'Jost', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  max-width: 1024px;
  margin: 0px auto;
}

/* .font_jost {
  font-family: 'Jost', sans-serif;
} */

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}